@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Righteous';
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
    background-color: #000000;
}
.contenedor-header{
    background: #000000de;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
.contenedor-header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
.contenedor-header header .logo a{
    font-size: 30px;
    color: #00ffff;
    text-decoration: none;
}
.contenedor-header header .logo a:hover{
    color: white;
    transition: 0.5s;
}
.contenedor-header header ul{
    display: flex;
    list-style: none;
}
.contenedor-header header nav ul li a{
    text-align: none;
    color: white;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}
.contenedor-header header nav ul li a:hover{
    color: #00ffff;
    transition: 1s;
}
.nav-responsive{
    background-color: #00ffff;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
.inicio {
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(118, 2, 250, 0.726), rgb(0, 0, 0)),
    url(../img/fondo.jpg);    
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
}
.inicio .contenido-banner{
    padding: 16px;
    background-color: #00000010;
    max-width: 700px;
    margin: auto;
    margin-top: 96px;
    text-align: center;
    border-radius: 3px;
}
.inicio .contenido-banner img{
    margin-top: 40px;
    border: 6px solid #00fff2d8;
    display: block;
    width: 40%;
    margin: auto;
    border-radius: 100%;
}
.inicio .contenido-banner img:hover{
    border: 8px solid #00fff2d8;
    width: 42%;
    border-radius: 100%;
    transition: 1s;
}
.inicio .contenido-banner h1{
    margin-top: 32px;
    font-size: 35px;
    font-family: 'Righteous';
}
.inicio .contenido-banner h2{
    font-size: 15px;
    font-weight: normal;
}
.sobremi{
    background-color: #000000;
    color: rgb(255, 255, 255);
    padding: 50px 20px;
}
.sobremi .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.sobremi h2{
    font-size: 40px;
    text-align: center;
    padding: 20px 0;
    margin-top: 30px;
}
.sobremi h2:hover{
    color: #00ffff;
    font-size: 41px;
    transition: 1s;
}
.sobremi .contenido-seccion p{
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}
.sobremi .contenido-seccion p span{
    color: #0ab7ce;
    font-weight: bold;
}
.sobremi .fila{
    display: flex;
}
.sobremi .fila .col
{
    width: 50%;
}
.sobremi .fila .col h3{
    font-size: 25px;
    margin-bottom: 25px;
}
.sobremi .fila .col ul{
    list-style: none;
}
.sobremi .fila .col ul li{
    margin: 12px 0;
}
.sobremi .fila .col ul li strong{
    display: inline-block;
    color: #0ab7ce;
    width: 130px;
}
.sobremi .fila .col ul li span{
    background-color: #0ab7ce;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}
.habilidades{
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(141, 1, 255, 0.74), rgb(0, 0, 0)),
    url(../img/bg.png);    
    background-size: cover;
    height: 100vh;
    color: #fff;
    align-items: center;
}
.habilidades .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.habilidades h2{
    font-size: 40px;
    text-align: center;
    padding: 20px 0;
    margin-top: 30px;
}
.habilidades h2:hover{
    color: #00ffff;
    font-size: 41px;
    transition: 1s;
}
.habilidades .fila{
    display: flex;
}
.habilidades .fila .col{
    width: 50%;
    padding: 0 20px;
}
.habilidades .fila .col h3{
    font-size: 28px;
    margin-bottom: 25px;
}
.habilidades .habilidad > span{
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}
.habilidades .habilidad .barra-habilidad{
    height: 8px;
    width: 80%;
    background-color: #131517;
    position: relative;
    margin-bottom: 30px;
}
.habilidades .habilidad .progreso{
    background-color: #03a5bb;
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
}
.habilidades .habilidad .barra-habilidad span{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #03a5bb;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 14px;
}
.habilidades .habilidad .html{
    width: 0%;
    animation: 2s html forwards;
}
@keyframes html {
    0%{width: 0%;}
    100%{width: 75%;}
}
.habilidades .habilidad .css{
    width: 0%;
    animation: 2s css forwards;
}
@keyframes css {
    0%{width: 0%;}
    100%{width: 55%;}
}

.habilidades .habilidad .github{
    width: 0%;
    animation: 2s github forwards;
}
@keyframes github {
    0%{width: 0%;}
    100%{width: 60%;}
}
.habilidades .habilidad .javascript{
    width: 0%;
    animation: 2s javascript forwards;
}
@keyframes javascript {
    0%{width: 0%;}
    100%{width: 40%;}
}
.habilidades .habilidad .react{
    width: 0%;
    animation: 2s react forwards;
}
@keyframes react {
    0%{width: 0%;}
    100%{width: 25%;}
}
.habilidades .habilidad .respuesta{
    width: 0%;
    animation: 2s respuesta forwards;
}
@keyframes respuesta {
    0%{width: 0%;}
    100%{width: 90%;}
}
.habilidades .habilidad .adaptabilidad{
    width: 0%;
    animation: 2s adaptabilidad forwards;
}
@keyframes adaptabilidad {
    0%{width: 0%;}
    100%{width: 95%;}
}
.habilidades .habilidad .detalles{
    width: 0%;
    animation: 2s detalles forwards;
}
@keyframes detalles {
    0%{width: 0%;}
    100%{width: 99%;}
}
.habilidades .habilidad .compromiso{
    width: 0%;
    animation: 2s compromiso forwards;
}
@keyframes compromiso {
    0%{width: 0%;}
    100%{width: 100%;}
}
.habilidades .habilidad .comunicacion{
    width: 0%;
    animation: 2s comunicacion forwards;
}
@keyframes comunicacion {
    0%{width: 0%;}
    100%{width: 94%;}
}
.curriculum{
    margin-top: 60%;
    background-color: #000000;
    color: #fff;
    padding: 50px 20px;
}
.curriculum .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.curriculum h2{
    font-size: 40px;
    text-align: center;
    padding: 20px 0;
}
.curriculum h2:hover{
    color: #00ffff;
    font-size: 41px;
    transition: 1s;
}
.curriculum .fila{
    display: flex;
    justify-content: space-between;
}
.curriculum .fila .col{
    width: 49%;
    padding: 0 20px;
}
.curriculum .fila .col h3{
    font-size: 28px;
    margin-bottom: 25px;
}
.curriculum .fila .izquierda{
    border-right: 2px solid #252A2E;
}
.curriculum .fila .derecha{
    border-left: 2px solid #252A2E;
}
.curriculum .fila .item{
    padding: 25px;
    margin-bottom: 30px;
    background-color: rgba(48, 47, 47, 0.281);
    position: relative;
}
.curriculum .fila .item h4{
    font-size: 20px;
    margin-bottom: 10px;
}
.curriculum .fila .item .casa{
    color: #ffffff80;
    font-size: 22px;
    font-weight: bold;
    display: block;
}
.curriculum .fila .item .fecha{
    display: block;
    color: #0ab7ce;
    margin-bottom: 10px;
}
.curriculum .fila .item p{
    line-height: 24px;
}
.curriculum .fila .izq{
    border-right: 2px solid #0ab7ce;
    margin-right: 20px;
}
.curriculum .fila .der{
    border-left: 2px solid #0ab7ce;
    margin-left: 20px;
}
.curriculum .fila .item .conectori{
    height: 2px;
    background-color: #0ab7ce;
    width: 47px;
    position: absolute;
    top: 50%;
    right: -47px;
    z-index: 5;
}
.curriculum .fila .item .conectori .circuloi{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #0ab7ce;
    float: right;
    position: relative;
    bottom: 4px;
}
.curriculum .fila .item .conectord{
    height: 2px;
    background-color: #0ab7ce;
    width: 47px;
    position: absolute;
    top: 50%;
    left: -47px;
    z-index: 5;
}
.curriculum .fila .item .conectord .circulod{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #0ab7ce;
    float: left;
    position: relative;
    bottom: 4px;
}
.curriculum button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}

.boton a{
    color: #ffffff; 
    text-decoration: none;   
}

.curriculum button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #0ab7ce;
    z-index: -1;
    transition: 0.6s;
}
.curriculum button:hover .overlay{
    width: 100%;
}
.proyectos{
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(80, 0, 185, 0.726), rgb(0, 0, 0)),
    url(../img/bg3.jpg);    
    background-size: cover;
    color: #fff;
    padding: 50px 20px;
}
.proyectos .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.proyectos h2{
    font-size: 40px;
    text-align: center;
    padding: 20px 0;
}
.proyectos h2:hover{
    color: #00ffff;
    font-size: 41px;
    transition: 1s;

}
.proyectos .galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.proyectos .galeria .proyecto{
    position: relative;
    max-width: 340px;
    height: fit-content;
    margin: 10px;
    cursor: pointer;
}
.proyectos .galeria .proyecto img{
    width: 100%;
    display: block;
}
.proyectos .galeria .proyecto .overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(rgba(0, 255, 204, 0.8), rgba(0, 0, 0, 0.8));
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    font-size: 18px;
    letter-spacing: 3px;
    opacity: 0;
}
.proyectos .galeria .proyecto .overlay h3{
    margin-bottom: 20px;
    transition: 1s;
    color: white;
}
.proyectos .galeria .proyecto .overlay:hover{
    opacity: 1;
}
.proyectos .galeria .proyecto .overlay:hover h3{
    margin-bottom: 0px;
    color: white;
}
.proyectos .galeria .proyecto .overlay:hover p{
    margin-bottom: 0px;
    color: white;
}
footer{
    background: linear-gradient(to top, rgba(0, 0, 0, 0.938), rgb(0, 0, 0));
    color: #fff;
    padding: 10px 0 10px 0;
    text-align: center;
    position: relative;
    width: 100%;
}
footer .redes{
    margin-bottom: 20px;
}
footer .redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}
footer .redes a:hover{
    color: rgb(14, 180, 202);
    border: 1px solid rgb(14, 180, 202);
    width: 46px;
    height: 46px;
    line-height: 46px;
}
footer .arriba{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #0ab7ce;
    color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
}
footer .arriba:hover{
    display: block;
    width: 53px;
    height: 53px;
    font-size: 21px;
    background-color: #0ab7ce;
}

@media screen and (max-width:980px){
    .inicio {
        background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(141, 1, 255, 0.74), rgb(0, 0, 0)),
        url(../img/responsive.jpg);   
        background-size: cover;
        height: 100vh;
        display: flex;
        align-items: center;  
    }
    .inicio .contenido-banner{
        background-color: #00000000;
        margin: auto;
        margin-top: 150px;
        text-align: center;
    }
    nav{
        display: none;
    }
    .nav-responsive{
        display: block;
    }
    nav.responsive{
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #000000c5;
        width: 180px;
    }
    nav.responsive ul{
        display: block !important;
    }
    nav.responsive ul li{
        border-bottom: 1px solid #fff;
        padding: 10px 0;
    }   
      
}
@media screen and (max-width:700px){
    .sobremi .fila{
        display: block;
    }
    .sobremi .fila .col{
        width: fit-content;
    }

    .habilidades .fila{
        display: block;
    }
    .habilidades .fila .col{
        width: 100%;
    }
    .habilidades .fila .col .barra-habilidad{
        width: 96%;
    }

    .curriculum .fila{
        display: block;
    }
    .curriculum .fila .col{
        width: 90%;
    }
    .curriculum .fila .derecha{
        margin-left: 20px;
    }
    .proyectos .galeria{
        display: block;
        width: 100%;
    }
    .proyectos .galeria .proyecto{
        max-width: 100%;
    }
    .proyectos .galeria .proyecto img{
        width: 100%;
    }
}
