@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Trebuchet MS';
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
.contenedor-header{
    background: #000000de;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
.contenedor-header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
.contenedor-header header .logo a{
    font-family: 'Trebuchet MS';
    font-size: 36px;
    color: #00ffff;
    text-decoration: none;
}
.contenedor-header header ul{
    display: flex;
    list-style: none;
}
.contenedor-header header nav ul li a{
    text-align: none;
    color: white;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}
.contenedor-header header nav ul li a:hover{
    color: #00ffff;
    font-size: 18px;
}
.nav-responsive{
    background-color: #00ffff;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
.inicio {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.856), rgba(114, 3, 204, 0.767)),
    url(../img/fondo.jpg);    
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
}
.inicio .contenido-banner{
    padding: 16px;
    background-color: #00000010;
    max-width: 700px;
    margin: auto;
    margin-top: 96px;
    text-align: center;
    border-radius: 3px;
}
.inicio .contenido-banner img{
    margin-top: 40px;
    border: 6px solid #00ffffd8;
    display: block;
    width: 40%;
    margin: auto;
    border-radius: 100%;
}
.inicio .contenido-banner h1{
    margin-top: 32px;
    font-size: 35px;
    font-family: 'Righteous';
}
.inicio .contenido-banner h2{
    font-size: 15px;
    font-weight: normal;
}
.inicio .contenido-banner .redes a:hover{
    background-color: #1CB698;
}
.sobremi{
    background-color: #000000;
    color: rgb(255, 255, 255);
    padding: 50px 20px;
}
.sobremi .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.sobremi h2{
    font-size: 40px;
    font-family: 'Trebuchet MS';
    text-align: center;
    padding: 20px 0;
    margin-top: 30px;

}
.sobremi .contenido-seccion p{
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}
.sobremi .contenido-seccion p span{
    color: #04bdb3;
    font-weight: bold;
}
.sobremi .fila{
    display: flex;
}
.sobremi .fila .col
{
    width: 50%;
}
.sobremi .fila .col h3{
    font-size: 25px;
    font-family: 'Trebuchet MS';
    margin-bottom: 25px;
}
.sobremi .fila .col ul{
    list-style: none;
}
.sobremi .fila .col ul li{
    margin: 12px 0;
}
.sobremi .fila .col ul li strong{
    display: inline-block;
    color: #0ab7ce;
    width: 130px;
}
.sobremi .fila .col ul li span{
    background-color: #0ab7ce;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
   
}
.curriculum{
    background-color: #000000;
    color: #fff;
}
.curriculum .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.curriculum h2{
    font-size: 40px;
    font-family: 'Trebuchet MS';
    text-align: center;
    padding: 20px 0;

}
.curriculum .fila{
    display: flex;
    justify-content: space-between;
}
.curriculum .fila .col{
    width: 49%;
    padding: 0 20px;
}
.curriculum .fila .col h3{
    font-size: 28px;
    font-family: 'Trebuchet MS';
    margin-bottom: 25px;
}
.curriculum .fila .izquierda{
    border-right: 2px solid #252A2E;
}
.curriculum .fila .derecha{
    border-left: 2px solid #252A2E;
}
.curriculum .fila .item{
    padding: 25px;
    margin-bottom: 30px;
    background-color: rgba(90, 90, 90, 0.281);
    position: relative;
}
.curriculum .fila .item h4{
    font-size: 20px;
    margin-bottom: 10px;
}
.curriculum .fila .item .casa{
    color: #ffffff80;
    font-family: 'Trebuchet MS';
    font-size: 22px;
    font-weight: bold;
    display: block;
}
.curriculum .fila .item .fecha{
    display: block;
    color: #0ab7ce;
    margin-bottom: 10px;
}
.curriculum .fila .item p{
    line-height: 24px;
}
.curriculum .fila .izq{
    border-right: 2px solid #0ab7ce;
    margin-right: 20px;
}
.curriculum .fila .der{
    border-left: 2px solid #0ab7ce;
    margin-left: 20px;
}
.curriculum .fila .item .conectori{
    height: 2px;
    background-color: #0ab7ce;
    width: 47px;
    position: absolute;
    top: 50%;
    right: -47px;
    z-index: 5;
}
.curriculum .fila .item .conectori .circuloi{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #0ab7ce;
    float: right;
    position: relative;
    bottom: 4px;
}
.curriculum .fila .item .conectord{
    height: 2px;
    background-color: #0ab7ce;
    width: 47px;
    position: absolute;
    top: 50%;
    left: -47px;
    z-index: 5;
}
.curriculum .fila .item .conectord .circulod{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #0ab7ce;
    float: left;
    position: relative;
    bottom: 4px;
}

footer{
    background: linear-gradient(to top, rgb(114, 3, 204), rgb(0, 0, 0));
    color: #fff;
    padding: 10px 0 10px 0;
    text-align: center;
    position: relative;
    width: 100%;
}
footer .redes{
    margin-bottom: 20px;
}
footer .redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}
footer .arriba{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #0ab7ce;
    color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
}
@media screen and (max-width:980px){
    .inicio {
        background: linear-gradient(to top, rgba(0, 0, 0, 0.829), rgba(114, 3, 204, 0.829)),
        url(../img/responsive.jpg); 
        background-size: cover;
        height: 100vh;
        display: flex;
        align-items: center;  
    }
    .inicio .contenido-banner{
        background-color: #00000000;
        margin: auto;
        margin-top: 150px;
        text-align: center;
    }
    nav{
        display: none;
    }
    .nav-responsive{
        display: block;
    }
    nav.responsive{
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #000000c5;
        width: 180px;
    }
    nav.responsive ul{
        display: block !important;
    }
    nav.responsive ul li{
        border-bottom: 1px solid #fff;
        padding: 10px 0;
    }      
}
@media screen and (max-width:700px){
    .sobremi .fila{
        display: block;
    }
    .sobremi .fila .col{
        width: fit-content;
    }

    .curriculum .fila{
        display: block;
    }
    .curriculum .fila .col{
        width: 90%;
    }
    .curriculum .fila .derecha{
        margin-left: 20px;
    }
}